<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>We build communities with our software, our expertise and most importantly, our people. Our ideas always stem from our own communities. All together we create a place to connect, share and access new ideas. Our community platform is software built to help people connect with each other or company staff any time of the day or night, from anywhere in the world and on any device.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://hug.higherlogic.com/HigherLogic/directory/ImageDisplay.aspx?Key=1e9726de-b5a3-43f5-8a67-a6e8cc9468ee&dt=468348458296&h=200&w=200" alt="">
                <h3>Gordon Williams
                    <small>Pee-Wee Developer</small>
                </h3>
                <p>Gordon helps kids learn how to code.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://hug.higherlogic.com/HigherLogic/directory/ImageDisplay.aspx?Key=0c892a8c-4e11-44cf-948b-4d006b2bde0e&dt=462551731592&h=200&w=200" alt="">
                <h3>Markus Huxley
                    <small>Product Manager</small>
                </h3>
                <p>Markus aids with feature enhancements for the app.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://hug.higherlogic.com/HigherLogic/directory/ImageDisplay.aspx?Key=0993f842-5916-4853-8298-9f6e43daa24b&dt=472297010449&h=200&w=200" alt="">
                <h3>Canary Lewis
                    <small>Project Manager</small>
                </h3>
                <p>Canary is our lead project manager for Blocitoff</p>
            </div>
        </div>
