@import "bootstrap-sprockets";
@import "bootstrap";

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

body { 
  background: url(http://i.stack.imgur.com/1Tzky.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#item_name {
  width: 80%;
}

.savebtn {
  float: right;
  margin-top: -34px;
  margin-right: 18px;
}

.customnav {
 background-color: black;
 color: rgb(55, 139, 202); 
}

a.glyphicon {
  text-decoration: none;
}